<div *ngIf="ventana">
    <section id="main">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12 mt-4 mb-2">
            <button type="button" name="button" class="btn btn-outline-primary btn-block" (click)="ventanaDiagnostico()">Diagnostico</button>
          </div>
          <div class="col-md-12 mt-2 mb-4">
            <button type="button" name="button" class="btn btn-outline-primary btn-block" (click)="ventanaVehiculo()">Vehiculo</button>
          </div>
        </div>
      </div>
    </section>
</div>
