<section id="main">
  <div class="loading" *ngIf="cargando; else mostrar">
    <img src="../../../assets/img/loader.gif" alt="">
  </div>

  <ng-template #mostrar>
    <br>
    <button type="button" name="button" class="btn btn-outline-primary btn-block" [routerLink]="['/vehiculo']">Vehiculo</button>
    <div class="container-fluid">
      <div class="row">

        <div class="col-12 mt-3 mb-3">
          <header>
            <h1>Resusltados del diagnóstico: <button class="btn btn-primary pull-right"><span class="fa fa-refresh" aria-hidden="true"></span> Volver a diagnosticar</button></h1>
            <hr>
            <h2>{{historial[0].modelo}} <small class="text-muted"> - {{historial[0].patente}} - {{historial[0].marca}}</small></h2>
          </header>
        </div>

        <div class="col-12">
          <section id="content">
            <table class="table table-responsive table-bordered table-striped table-hover">
              <thead>
                <tr>
                  <th>Propietario</th>
                  <th>Resultado</th>
                  <th>Sugerencia</th>
                  <th>Observacion</th>
                  <th>Estado</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let h of historial">
                  <td>{{h.propietario}}</td>
                  <td>{{h.descripcion}}</td>
                  <td>{{h.sugerencia}}</td>
                  <td>{{h.observacionfinal}}</td>
                  <td>{{h.estado}}</td>
                </tr>
              </tbody>
            </table>
          </section>
        </div>
      </div>
    </div>
  </ng-template>



</section>
