<section id="main">
  <div class="container-fluid">
    <div class="row">

      <!-- SEARCH -->
      <div class="col-12 mt-3 mb-3">
        <div class="input-group input-group-lg">
          <label class="input-group-addon" for="se" id="sizing-addon1"><span class="sr-only">Buscar</span><span class="fa fa-search" aria-hidden="true"></span></label>
          <input type="text" id="se" class="form-control" placeholder="Buscar" aria-label="Buscar" aria-describedby="sizing-addon1">
        </div>
      </div>
      <!-- /SEARCH -->

      <!-- CARD LIST -->
      <div class="col-12">
        <div class="row">

          <!-- CARD COL -->
          <div class="col-12 col-md-4 col-lg-3 mb-4">
            <article class="card">
              <div class="card-body">
                <h2 class="card-title">Gol Power</h2>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">M 2000 SD</li>
                <li class="list-group-item">Volkswagen</li>
                <li class="list-group-item"><span class="text-muted">1 mes atrás</span></li>
              </ul>
              <div class="card-footer">
                <a href="#" class="btn btn-secondary btn-block btn-lg">Ver <span class="fa fa-angle-right" aria-hidden="true"></span></a>
              </div>
            </article>
          </div>
          <!-- /CARD COL -->

          <!-- CARD COL -->
          <div class="col-12 col-md-4 col-lg-3 mb-4">
            <article class="card">
              <div class="card-body">
                <h2 class="card-title">Gol Power</h2>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">M 2000 SD</li>
                <li class="list-group-item">Volkswagen</li>
                <li class="list-group-item"><span class="text-muted">1 mes atrás</span></li>
              </ul>
              <div class="card-footer">
                <a href="#" class="btn btn-secondary btn-block btn-lg">Ver <span class="fa fa-angle-right" aria-hidden="true"></span></a>
              </div>
            </article>
          </div>
          <!-- /CARD COL -->

          <!-- CARD COL -->
          <div class="col-12 col-md-4 col-lg-3 mb-4">
            <article class="card">
              <div class="card-body">
                <h2 class="card-title">Gol Power</h2>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">M 2000 SD</li>
                <li class="list-group-item">Volkswagen</li>
                <li class="list-group-item"><span class="text-muted">1 mes atrás</span></li>
              </ul>
              <div class="card-footer">
                <a href="#" class="btn btn-secondary btn-block btn-lg">Ver <span class="fa fa-angle-right" aria-hidden="true"></span></a>
              </div>
            </article>
          </div>
          <!-- /CARD COL -->

          <!-- CARD COL -->
          <div class="col-12 col-md-4 col-lg-3 mb-4">
            <article class="card">
              <div class="card-body">
                <h2 class="card-title">Gol Power</h2>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">M 2000 SD</li>
                <li class="list-group-item">Volkswagen</li>
                <li class="list-group-item"><span class="text-muted">1 mes atrás</span></li>
              </ul>
              <div class="card-footer">
                <a href="#" class="btn btn-secondary btn-block btn-lg">Ver <span class="fa fa-angle-right" aria-hidden="true"></span></a>
              </div>
            </article>
          </div>
          <!-- /CARD COL -->

          <!-- CARD COL -->
          <div class="col-12 col-md-4 col-lg-3 mb-4">
            <article class="card">
              <div class="card-body">
                <h2 class="card-title">Gol Power</h2>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">M 2000 SD</li>
                <li class="list-group-item">Volkswagen</li>
                <li class="list-group-item"><span class="text-muted">1 mes atrás</span></li>
              </ul>
              <div class="card-footer">
                <a href="#" class="btn btn-secondary btn-block btn-lg">Ver <span class="fa fa-angle-right" aria-hidden="true"></span></a>
              </div>
            </article>
          </div>
          <!-- /CARD COL -->

        </div>
      </div>
      <!-- CARD LIST -->

    </div>
  </div>
</section>
